<a href="https://colab.research.google.com/github/G33kyGuy3/PortfolioProjects/blob/main/Data_Exploration_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This a Portfolio Project using Pandas to explore the Covid-19 data from the World Health Organization

In [1]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [2]:
# Creating a folder to store the CSV file for the data
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data","covid")

In [3]:
# Downloaded data from url
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data/covid/WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x7fc6324ce610>)

In [4]:
df = pd.read_csv(csv_path)

In [5]:
df

       Date_reported Country_code  ... New_deaths Cumulative_deaths
0         2020-01-03           AF  ...          0                 0
1         2020-01-04           AF  ...          0                 0
2         2020-01-05           AF  ...          0                 0
3         2020-01-06           AF  ...          0                 0
4         2020-01-07           AF  ...          0                 0
...              ...          ...  ...        ...               ...
124657    2021-06-07           ZW  ...          1              1606
124658    2021-06-08           ZW  ...          5              1611
124659    2021-06-09           ZW  ...          6              1617
124660    2021-06-10           ZW  ...          5              1622
124661    2021-06-11           ZW  ...          4              1626

[124662 rows x 8 columns]

In [6]:
df_index = df.index
df_index

RangeIndex(start=0, stop=124662, step=1)

In [7]:
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [8]:
df_index.values

array([     0,      1,      2, ..., 124659, 124660, 124661])

In [9]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2021-06-09', 'ZW', 'Zimbabwe', ..., 39321, 6, 1617],
       ['2021-06-10', 'ZW', 'Zimbabwe', ..., 39432, 5, 1622],
       ['2021-06-11', 'ZW', 'Zimbabwe', ..., 39496, 4, 1626]],
      dtype=object)

In [10]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [11]:
df.shape

(124662, 8)

In [12]:
df.head()

  Date_reported Country_code  ... New_deaths Cumulative_deaths
0    2020-01-03           AF  ...          0                 0
1    2020-01-04           AF  ...          0                 0
2    2020-01-05           AF  ...          0                 0
3    2020-01-06           AF  ...          0                 0
4    2020-01-07           AF  ...          0                 0

[5 rows x 8 columns]

In [13]:
df.tail()

       Date_reported Country_code  ... New_deaths Cumulative_deaths
124657    2021-06-07           ZW  ...          1              1606
124658    2021-06-08           ZW  ...          5              1611
124659    2021-06-09           ZW  ...          6              1617
124660    2021-06-10           ZW  ...          5              1622
124661    2021-06-11           ZW  ...          4              1626

[5 rows x 8 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124662 entries, 0 to 124661
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      124662 non-null  object
 1   Country_code       124136 non-null  object
 2   Country            124662 non-null  object
 3   WHO_region         124662 non-null  object
 4   New_cases          124662 non-null  int64
 5   Cumulative_cases   124662 non-null  int64
 6   New_deaths         124662 non-null  int64
 7   Cumulative_deaths  124662 non-null  int64
dtypes: int64(4), object(4)
memory usage: 7.6+ MB

In [15]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  124662.000000      1.246620e+05  124662.000000      124662.000000
mean     1399.806565      2.270778e+05      30.244670        5545.058342
std      9629.609839      1.439244e+06     169.854031       29289.694437
min    -32952.000000      0.000000e+00     -43.000000           0.000000
25%         0.000000      1.800000e+01       0.000000           0.000000
50%         7.000000      2.306000e+03       0.000000          38.000000
75%       289.000000      4.440125e+04       4.000000         737.000000
max    414188.000000      3.309496e+07    6508.000000      593365.000000

In [18]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
124657       Zimbabwe
124658       Zimbabwe
124659       Zimbabwe
124660       Zimbabwe
124661       Zimbabwe
Name: Country, Length: 124662, dtype: object

In [19]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'CuraÃ§ao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'RÃ©union', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint BarthÃ©lemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [20]:
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [21]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
124657       Zimbabwe
124658       Zimbabwe
124659       Zimbabwe
124660       Zimbabwe
124661       Zimbabwe
Name: Country, Length: 124662, dtype: object

In [22]:
df.loc[1:4, 'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [24]:
df.loc[1:8,['Country','New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [25]:
df[df.Country == 'United States of America']

       Date_reported Country_code  ... New_deaths Cumulative_deaths
118876    2020-01-03           US  ...          0                 0
118877    2020-01-04           US  ...          0                 0
118878    2020-01-05           US  ...          0                 0
118879    2020-01-06           US  ...          0                 0
118880    2020-01-07           US  ...          0                 0
...              ...          ...  ...        ...               ...
119397    2021-06-07           US  ...        420            591696
119398    2021-06-08           US  ...        418            592114
119399    2021-06-09           US  ...        496            592610
119400    2021-06-10           US  ...        322            592932
119401    2021-06-11           US  ...        433            593365

[526 rows x 8 columns]

In [26]:
df[df.New_deaths > 1000]

       Date_reported Country_code  ... New_deaths Cumulative_deaths
4482      2020-10-03           AR  ...       3351             20288
12873     2020-09-08           BO  ...       1610              7008
14867     2020-05-21           BR  ...       1179             17971
14869     2020-05-23           BR  ...       1188             20047
14870     2020-05-24           BR  ...       1001             21048
...              ...          ...  ...        ...               ...
119319    2021-03-21           US  ...       1359            539915
119324    2021-03-26           US  ...       1091            543855
119325    2021-03-27           US  ...       1237            545092
119326    2021-03-28           US  ...       1170            546262
119387    2021-05-28           US  ...       1120            586890

[611 rows x 8 columns]

In [28]:
df.loc[df.Country_code == 'US',['New_cases']].max()

New_cases    312247
dtype: int64

In [29]:
df.loc[df.Country_code == 'US',['New_cases']].min()

New_cases    0
dtype: int64

In [30]:
df.loc[df.Country_code == 'US',['New_cases']].sum()

New_cases    33094965
dtype: int64

In [31]:
df.loc[df.Country_code == 'US',['New_deaths']].sum()

New_deaths    593365
dtype: int64

In [32]:
df.loc[df.Country_code == 'US',['Cumulative_deaths']].max()

Cumulative_deaths    593365
dtype: int64

In [33]:
df.New_deaths.idxmax()

118981

In [34]:
df.loc[df.New_deaths.idxmax(),['Date_reported','Country','New_cases','New_deaths','Cumulative_deaths']]

Date_reported                      2020-04-17
Country              United States of America
New_cases                               27172
New_deaths                               6508
Cumulative_deaths                       32047
Name: 118981, dtype: object

In [35]:
df[df.New_deaths < 0]

       Date_reported Country_code  ... New_deaths Cumulative_deaths
1266      2020-08-04           DZ  ...         -2              1229
2906      2020-10-05           AO  ...         -4               185
7604      2020-08-30           BS  ...        -10                40
7821      2021-04-04           BS  ...         -1               188
17024     2020-07-13           BF  ...         -1                53
23828     2020-06-09           CG  ...         -2                20
26525     2020-08-15           CU  ...         -1                88
28062     2020-07-05           CZ  ...         -1               351
28063     2020-07-06           CZ  ...         -3               348
34026     2020-12-30           ER  ...         -1                 1
34111     2021-03-25           ER  ...        -27                 8
34956     2020-08-30           SZ  ...         -2                91
35163     2021-03-25           SZ  ...         -2               666
38857     2021-04-06           GF  ...         -3                93
44369     2020-07-06           GP  ...         -2                14
45359     2020-05-05           GT  ...         -2                17
46471     2020-07-04           GN  ...        -13                33
49293     2021-01-12           HN  ...         -2              3273
52874     2020-10-03           IE  ...         -5              1801
54352     2020-06-25           IT  ...        -31             34644
61923     2021-01-18           LS  ...         -4                93
67245     2021-03-21           ML  ...         -3               360
70123     2020-06-16           YT  ...         -1                28
75468     2020-09-09          NaN  ...         -2                89
86866     2020-03-19           PH  ...         -2                17
89017     2020-05-05           PR  ...        -43                54
91233     2020-08-25           RE  ...         -4                 2
98490     2020-05-10           ST  ...         -1                 4
102667    2020-04-09           SX  ...         -2                 6
105867    2020-05-23           SS  ...         -1                 5
105977    2020-09-10           SS  ...         -1                48
106064    2020-12-06           SS  ...         -1                61
106219    2021-05-10           SS  ...         -1               115
112484    2021-03-24           TG  ...         -9                95
117218    2021-03-24           UG  ...         -5               334
117258    2021-05-03           UG  ...         -1               342
124314    2020-06-29           ZW  ...         -1                 6

[37 rows x 8 columns]

In [37]:
# Creating a new column to show the Percentage of new cases
df['pct_cases'] = (df['New_cases']/df['Cumulative_cases'])*100
df

       Date_reported Country_code  ... Cumulative_deaths pct_cases
0         2020-01-03           AF  ...                 0       NaN
1         2020-01-04           AF  ...                 0       NaN
2         2020-01-05           AF  ...                 0       NaN
3         2020-01-06           AF  ...                 0       NaN
4         2020-01-07           AF  ...                 0       NaN
...              ...          ...  ...               ...       ...
124657    2021-06-07           ZW  ...              1606  0.053586
124658    2021-06-08           ZW  ...              1611  0.124879
124659    2021-06-09           ZW  ...              1617  0.211083
124660    2021-06-10           ZW  ...              1622  0.281497
124661    2021-06-11           ZW  ...              1626  0.162042

[124662 rows x 9 columns]